{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col">
    <h1 class="page-title">Add job</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="dashboard-panel-light">
      <form method="post">
        {% csrf_token %}
        <p class="form-label">Name</p>
        {{ form.name }}
        <p class="form-label">Description</p>
        {{ form.description }}
        <p class="form-label">Region</p>
        {{ form.region }}
        <p class="form-label">Value</p>
        {{ form.value }}
        <p class="form-label">Closing date</p>
        {{form.closing_date}}

        <br><br>
        <button type="submit">Submit job</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
