<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prototype</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <!-- <script src=""></script> -->

</head>
<body>
  {% include "header.html" %}
  <div class="container">
    <div class="row">
      <div class="col">

      </div>
    </div>
      {% block content %}
      {% endblock content %}
  </div>
  <div class="row">
    <div class="col">
      {% if is_paginated %}
          <nav aria-label="Page navigation example">
              <span class="page-links">
                <ul class="pagination">
                  {% if page_obj.has_previous %}
                      <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a></li>
                  {% endif %}
                  <li class="page-item">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</li>

                  {% if page_obj.has_next %}
                      <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a></li>
                  {% endif %}
                </ul>
              </span>
          </nav>
      {% endif %}
    </div>
  </div>
</body>
</html>
