{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
  <div class="col">
    <h1 class="page-title">Dashboard</h1>
  </div>
</div>
<div class="row">

  <div class="col-4">
    <h3 class="panel-title">Profile</h3>
    <div class="dashboard-panel-light">


      <p>{{user.first_name}} {{user.second_name}}</p>

      <p>{{user.company}}</p>

      <p><strong>Joined:</strong> {{user.date_joined}}</p>
      <p><strong>Last login:</strong> {{user.last_login}}</p>
      <p><strong>ID:</strong> {{user.id}}</p>

    </div>
  </div>
  <div class="col-4">
    <h3 class="panel-title">My added jobs <span class="db-counter">({{job_list|length}})</span></h3>
    <div class="dashboard-panel-rows">
      {% if job_list %}
        {% for j in job_list %}
          <a href="{{ j.get_absolute_url }}">
            <div class="panel-row">
              {{j.name}}
            </div>
          </a>
        {% endfor %}
      {% else %}
        <div class="empty-list">
          <p class="no-records-found">You have not added any jobs yet. Click <a href="{% url 'add_job' %}">add job</a> to add a new job.</p>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col-4">
    <h3 class="panel-title">My submitted quotes <span class="db-counter">({{quotes|length}})</span></h3>
    <div class="dashboard-panel-rows">
      {% if quotes %}
        {% for q in quotes %}
          <div class="panel-row">
            <p><a href="#">{{q.job_name}}</a></p>
            <p>£{{q.value}}</p>
            <p>Contractor: <a href="#">{{q.quote_added_by}}</a></p>
          </div>
        {% endfor %}
      {% else %}
        <div class="empty-list">
          <p class="no-records-found">You have not added any quotes yet. To add a quote, view a job and click submit quote.</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>



{% else %}


  <div class="jumbotron">
    <h1 class="display-3">Test application</h1>
    <p class="lead">Lorem ipsum dolor sit amet, rhoncus ut delectus vel venenatis mauris ipsum.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, rhoncus ut delectus vel venenatis mauris ipsum.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
      <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Sign-up</a>
    </p>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Post invitations</h3>
      <p>Lorem ipsum dolor sit amet, rhoncus ut delectus vel venenatis mauris ipsum.</p>
    </div>
    <div class="col-4">
      <h3>View quotes</h3>
      <p>Lorem ipsum dolor sit amet, rhoncus ut delectus vel venenatis mauris ipsum.</p>
    </div>
    <div class="col-4">
      <h3>Accept quotes</h3>
      <p>Lorem ipsum dolor sit amet, rhoncus ut delectus vel venenatis mauris ipsum.</p>
    </div>
  </div>
{% endif %}
{% endblock %}
