{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
  <div class="col">
    <h1>Index</h1>
    <h5><strong>Hello,</strong> {{user.username}}.</h5>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <h5>My profile</h5>
    <p>{{user.first_name}}</p>
    <p>{{user.second_name}}</p>
    <p>{{user.company}}</p>
  </div>
  <div class="col-3">
    <h5>My submitted jobs</h5>
  </div>
  <div class="col-3">
    <h5>My saved jobs</h5>
  </div>
</div>


{% else %}
<div class="row">
  <div class="col">
    <div class="jumbotron">
      <h1 class="display-4">Test App</h1>
      <p class="lead">{% lorem 10 w random %}</p>
      <hr class="my-4">
      <p>{% lorem 18 w random %}</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
        <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Sign-up</a>
      </p>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
