{% extends 'base.html' %}

{% block content %}

  {% if user.is_authenticated %}
  <h1>List</h1>
  {% else %}
  <div class="jumbotron">
    <h1 class="display-4">Test App</h1>
    <p class="lead">{% lorem 10 w random %}</p>
    <hr class="my-4">
    <p>{% lorem 18 w random %}</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
      <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Sign-up</a>
    </p>
  </div>
  {% endif %}
{% endblock %}
