{% extends 'base.html' %}

{% block content %}




  <div class="row">
    <div class="col">
      <h2>{{job.name}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h5>Job details:</h5>
      <p><strong>Description: </strong>{{job.description}}</p>
      <p><strong>Value: </strong>{{job.value}}</p>
      <p><strong>Region: </strong>{{job.region}}</p>
      <p><strong>Added: </strong>{{job.added}}</p>
    </div>
    <div class="col-4">
      <h5>Contractor details:</h5>
      <p><strong>Company: </strong>{{job.company}}</p>
      <p><strong>User:</strong> {{job.added_by}}</p>
      <p><strong>Rating: </strong>BLANK</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h5>Stats:</h5>
      <p><strong>Views: </strong>BLANK</p>
      <p><strong>Quotes: </strong>BLANK</p>
      {% if job.added_by.id == user.id %}
      <a href="{% url 'update_job' %}" class="btn btn-primary">Edit job</a>
      <a href="#">Delete job</a>
      {% else %}

      <button type="button" class="btn btn-primary">Submit quote</button>
      {% endif %}
  </div>
{% endblock %}
