{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col">
    <h1 class="page-title">View jobs</h1>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <h4>Filter</h4>
  </div>
  <div class="col-9">

    <h3>Contract list</h3>
    {% if job_list %}
      <h3 class="panel-title">Number of jobs found: <span class="db-counter">({{job_list|length}})</span></h3>
      {% for j in job_list %}
        <div class="job-list-panel">
          <div class="row" style="height: 100%;">
            <div class="col-sm-8">
              <div class="job-list-panel-details">
                <h4 class="job-title">{{j.name}}, <span class="job-title-region">{{j.region}}</span></h4>
                <p>{{j.description}}</p>
                <p class="job-list-panel-added-by">Added by {{j.added_by}} at {{j.added}}</p>
              </div>
            </div>
            <div class="col-sm view-job">
              <a href="{{j.get_absolute_url}}" class="job-detail-icon">View</a>
            </div>
            <div class="col-sm save-job">
              <a href="#" class="job-detail-icon">Save</a>
            </div>
          </div>

        </div>

      {% endfor %}

    {% else %}
    <p>No jobs found.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
