{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col">
    <h1>View jobs</h1>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <h3>Filter</h3>
  </div>
  <div class="col-9">
    <h3>Return jobs</h3>
    {% if job_list %}
      <p>Number of jobs: {{job_list|length}}</p>
      {% for j in job_list %}
      <div class="card">
        <div class="card-header">
        <strong>Owner: </strong>{{j.added_by}}

        </div>
        <div class="card-body">
          <h5 class="card-title"><a href="{{j.get_absolute_url}}">{{j.name}}</a></h5>
          <p class="card-text">{{j.description}}.</p>
          <p class="card-text"><strong>Value: </strong>{{j.value}}</p>
          <p class="card-text"><strong>Job id: </strong> {{j.id}}</p>
          {{j.username}}
        </div>
        <div class="card-footer text-muted">
          <strong>Added:</strong> {{j.added}}
        </div>
      </div>
      </br>
      {% endfor %}

    {% else %}
    <p>No jobs found.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
