<!-- templates/registration/login.html -->
<div class="row">
  <div class="col">
    {% extends 'base.html' %}

    {% block title %}Login{% endblock %}

    {% block content %}
    <h1 class="page-title">Login</h1>
    <div class="col-sm-5">
      <div class="dashboard-panel-light">
    <form method="post">
      {% csrf_token %}
      <p class="form-label">Username</p>
      {{ form.username }}
      <p class="form-label">Password</p>
      {{ form.password }}
      <br>
      <button type="submit">Login</button>
    </form>
  </div>
  </div>
    {% endblock %}
  </div>
</div>
