/** fonts
Abel, 400
Ubuntu, 300, 300i, 400, 400i, 500, 500i, 700, 700i
**/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

/* body {
  background-color: rgb(249,249,251);
} */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
}

p, ul, li {
  font-family: 'Roboto';
}

/* .header-shadow {
  background-color: #263238;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(176,190,197,0.15);
  -moz-box-shadow: 0px 10px 5px 0px rgba(176,190,197,0.15);
  box-shadow: 0px 10px 5px 0px rgba(176,190,197,0.15);
} */



/**
Contract leads/job list
**/
